*, *:before, *:after {
    box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 96%;
    padding: 2%;
    margin: 0;
    background-color: #2E100B;
    font-family: Arial;
    color: #FF9C1D;
    overflow: hidden;
    background-image: url('../img/bg.svg');
    background-position: center;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
.c_row {
    max-height: calc(100% - 42px);
    overflow-y: auto;
}
a, h1, a:link, a:visited {
    color: #8F2674;
    text-decoration: none;
}
a:hover, a:link:hover, a:visited:hover {
    color: #E88D19;
    text-decoration: underline;
}
.content, nav {
    display: inline-block;
}
.content {
    margin-top: calc(100% - height / 2);
    padding-left: 20px;
    width: 40%;
    height: 100%;
}
.content_bg {
    margin-left: -20px;
    background-color: #2E100B;
    opacity: 0.8;
    height: 90%;
    width: 100%;
    position: absolute;
    z-index: -100;
}

nav {
    width: 33%;
    height: 100%;
    text-align: right;
    border-right: 1px solid #E88D19;
    vertical-align: top;
}
nav ul {
    display: block;
    vertical-align: middle;
    list-style-type: none;
    margin-right: 20px;
}
nav ul, h1, input[type=submit], input[type=button], a.button {
    line-height: 2em;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2em;
}
h1 {
    border-bottom: none;
    font-size: 2em;
    margin-bottom: 10px;
}
input, textarea, a.button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #E88D19;
    box-shadow: none;
    color: #2E100B;
    font-family: inherit;
}
input:focus, textarea:focus {
    border-color: #8F2674;
    outline: none;
}
textarea {
    resize: vertical;
}
input[type=submit], input[type=button], a.button {
    padding: 0 10px;
    width: auto;
    background-color: #8F2674;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover, input[type=button]:hover, a.button:hover {
    background-color: #E88D19;
    color: #2E100B;
    text-decoration: none;
}
label {
    font-variant: small-caps;
    font-size: 1.2em;
}
.r {
    text-align: right;
    float: right;
}
#title {
    width: 60%;
    margin-top: 10px;
    margin-right: 20px;
}
.idea_list .row {
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.idea_list form:nth-child(even) .row{
    border-color: #E88D19;
}
.idea_list form:nth-child(odd) .row{
    border-color: #8F2674;
}
.idea_list .row div {
    display: inline-block;
    font-size: 1.3em;
}
.idea_list .row .topic {
    width: 100%;
}
.idea_list .row .author {
    width: 50%;
}

.idea_list .row .vote, .idea_list .row .comments {
    width: 22%;
}

.content_head {
    text-align: right;
    color: #8F2674;
    font-size: 1.4em;
    font-weight: bold;
    font-variant: small-caps;
    border-bottom: 2px solid #8F2674;
    margin-bottom: 20px;
}
.row .label, .row .form-control {
    display: inline-block;
}
.row .label {
    width: 30%;
    text-align: right;
    margin-right: 10px;
    line-height: 3em;
    vertical-align: top;
}
.row .form-control {
    width: 65%;
}

hr {
    height: 2px;
    border-color: #8F2674;
}
.idea_view div:not(.row) {
    display: inline-block;
}
.idea_view .author {
    width: 40%;
}
.idea_view .vote, .idea_view .date {
    width: 20%;
}

.idea_view .vote a {
    font-weight: bold;
}
.idea_view .img {
    width: 100%;
    text-align: center;
}
.idea_view .img img {
    width: 50%;
}
.idea_view .img .img_title {
    width: 50%;
}

hr.small {
    width: 20%;
}